@media (max-width: 375px) {
    .heading_container{
        font-size: 1.5rem;
    }
    .main_paragh{
        width: 20rem;
    }
    .card_wrapper{
        display: grid;
        grid: repeat(4, 1fr) / 1fr;
    }
    ul.card_wrapper > li:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    ul.card_wrapper > li:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    ul.card_wrapper > li:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    ul.card_wrapper > li:nth-child(4){
        grid-column: 1;
        grid-row: 4;
    }
    .attribution { 
        font-size: 9px;
    } 
}